*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: white;
  font-family: "Spartan", sans-serif;
  height: 100%;
}

#app {
  background-image: url("https://images.unsplash.com/photo-1550542442-d5c354329585?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1373&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100vh;
  max-width: 500px;
  max-height: 750px;
  min-height: 675px;
  position: relative;
  width: 100vw;
}

.overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  background-color: transparent;
}

.brand {
  font-size: 1.75em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

.temperature {
  font-size: 2.813em;
}

.form-control, .form-control:focus {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  margin: 8px 0;
  outline: none;
  padding: 12px 20px;
  text-align: center;
}

button.form-control, button.form-control:focus {
  align-items: center;
  display: flex;
  padding: 12px 12px;
}
